.button,
button[type='submit'] {
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  font-size: 1rem;
  font-family: 'Poppins';
  box-shadow: none;
  margin-top: 1em;
  background-color: var(--primary);
  color: var(--bg);
  cursor: pointer;

  &.green {
    background-color: var(--primary);
    color: var(--bg);

    &:hover {
      background-color: var(--primary-darker);
      cursor: pointer;
    }
  }

  &.white {
    background-color: white;
    color: grey;

    &:hover {
      background-color: white;
      color: grey;
    }
  }

  &.white-green {
    background-color: var(--bg);
    color: var(--primary);
    border: 2px solid var(--primary);

    &:hover {
      background-color: var(--primary);
      color: var(--bg);
    }
  }

  &.disabled {
    background-color: grey;
    color: var(--bg);

    &:hover {
      cursor: initial;
      background-color: grey;
    }
  }

  &.grey {
    background-color: grey;

    &:hover {
      background-color: darkgray;
    }
  }

  &.sm {
    font-size: 14px;
  }
}

.cta {
  margin: 1em 0;

  a {
    text-decoration: none;
    color: var(--bg);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 5px;

    &:hover,
    &:active {
      background-color: var(--primary-darker);
      color: var(--bg);
      text-decoration: none;
    }
  }
}
