.button {
  background-color: var(--primary);
  padding: 0.5em 1em;
  color: var(--bg);
  text-align: center;
  border-radius: 5px;
  width: 100%;

  &:hover {
    background-color: var(--primary-darker);
    cursor: pointer;
  }

  &.disabled {
    background-color: grey;

    &:hover {
      cursor: initial;
    }
  }
}

.cta {
  margin: 1em 0;

  a {
    text-decoration: none;
    color: var(--bg);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    &:hover,
    &:active {
      background-color: var(--primary-darker);
    }
  }
}
