.card {
  width: 100%;
  min-width: none;
  max-width: 600px;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  background-color: white;

  &.w-500 {
    max-width: 500px;
  }

  &.no-shadow {
    box-shadow: none;
  }

  @media (min-width: 500px) {
    padding: 1em 2em;
  }
}