@import './input.scss';
@import './button.scss';
@import './link.scss';
@import './layout.scss';
@import './card.scss';
@import './text.scss';
@import './vueper.scss';

:root {
  --primary: #007a34;
  --primary-darker: hsl(146, 100%, 15%);
  --primary-lighter: hsl(146, 40%, 40%);
  --secondary: #ecae1e;
  --bg: #f7f7f7;
  --grey: #5b5b5b;
  --dark: #060606;
  --nav-height: 70px;
  --footer-height: 150px;
  --min-width-page: 300px;
  --banner-height: 100vh;
  --soft-white: #FBFAF5;
}
html {
  color: var(--dark);
}
.clickable {
  cursor: pointer;
}

hr {
  margin: 1em;
  width: 100%;
}

table.vgt-table {
  font-size: 10pt;
}