@import './input.scss';
@import './button.scss';
@import './link.css';
@import './layout.css';
@import './card.css';
@import './text.scss';
@import './vueper.scss';

:root {
  --primary: #007a34;
  --primary-darker: hsl(146, 100%, 15%);
  --primary-lighter: hsl(146, 40%, 40%);
  --secondary: #ecae1e;
  --bg: #f7f7f7;
  --grey: #5b5b5b;
  --dark: #060606;
  --nav-height: 70px;
  --footer-height: 120px;
  --min-width-page: 360px;
  --banner-height: 100vh;
}
html {
  color: var(--dark);
}
.clickable {
  cursor: pointer;
}

hr {
  margin: 1em 0;
}
// VUEPER

