input.asy,
select.asy,
textarea.asy {
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 1.75rem;
  padding: 0.3rem .5rem;
  margin: .5rem 0 .75rem;
  width: 100%;
  outline: none;
  font-family: 'Poppins';
  font-size: 12px;

  &:focus {
    box-shadow: 0 0 3px var(--secondary);
  }

  &.valid {
    box-shadow: 0 0 3px var(--primary-darker) !important;
  }

  &.error {
    box-shadow: 0 0 3px red;
  }

  &.radio {
    display: inline-block;
    width: initial;
    height: initial;
    color: var(--primary);
  }
}

select.asy {
  height: 1.8rem;
}

textarea.asy {
  height: initial;
  resize: none;
}

label.asy {
  display: inline-block;
  font-size: 14px;
  margin-top: 0.5rem;
  width: 100%;

  &.radio {
    width: initial;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  & > * {
    flex: 1;
  }

  .back {
    color: grey;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
